body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    color:white;
}
main{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: black;
}
main .header{
    color:#b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2{
    font-size: 1.6rem;
}
.header .column{
    display: flex;
    align-items: center;
}
.header .column span{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 15px;
}

.vol-slider{
    accent-color: #fff;
}

.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor:pointer;
    position:relative;
}
.keys-check input::before{
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    left:.3rem;
    transform: translateY(-50%);
    border-radius: inherit;
    transition:all .3s ease;
    background-color: #fff;
}
.keys-check input:checked::before{
    left:2.7rem;
    background-color:#8c8c8c;
}
.piano-keys{
    display: flex;
    margin-top:40px;
}