body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}
main{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
}